@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Norican&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

:root {
  --main-color: #291a0a;
  --light-brown: #ba9b6d;
  --dark-brown: #5a3b0c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #dcedec;
  height: 100%;
  color: #eee;
  line-height: 1.6;
  transition: all 0.4s ease;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

textarea:focus,
input:focus {
  outline: none;
}

/* Start notification style */
#notifications {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-items: center;
  z-index: 15;
  width: 40%;
  height: 40%;
}

#messageBox {
  font-size: 1.6em;
  color: #ffffff;
  text-align: center;
}

#messageBox > span {
  display: inline-block;
  padding: 5%;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 73px 21px rgba(0, 0, 0, 1);
  -moz-box-shadow: 2px 3px 73px 21px rgba(0, 0, 0, 1);
  box-shadow: 2px 3px 73px 21px rgba(0, 0, 0, 1);
}

#notifications span {
  background: #647c96;
  opacity: 0.9;
}

/* start: Navigation styles */
.header-field {
  display: block;
  position: relative;
  height: auto;
  width: 100vw;
}

.nav-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100vw;
  background-color: #01667b;
  color: #eee;
  opacity: 0.95;
}

.ul-style {
  flex-basis: 100%;
}

nav li,
.main-menu li {
  font-size: 18px;
  display: inline-block;
}

.nav-style a {
  text-align: center;
  text-decoration: none;
  color: #eee;
  padding: 50px 40px;
}

nav a:hover {
  background: #647c96;
  font-weight: 500;
}

a.glow,
a.glow:hover,
a.glow:focus {
  text-decoration: none;
  color: #eee;
  text-shadow: 2px 2px #647c96;
  -webkit-transition: 400ms linear 0s;
  -moz-transition: 400ms linear 0s;
  -o-transition: 400ms linear 0s;
  transition: 400ms linear 0s;
  outline: 0 none;
}

a.glow:hover,
a.glow:focus,
a:active {
  color: #fff;
  text-shadow: -3px 3px 10px #faf3ea, 3px -3px 10px #faf3ea;
}

.right {
  float: right;
}

.left {
  float: left;
}
/* Start Header-mobile style */
#mobile {
  display: none;
}

.main-nav {
  position: relative;
  height: 50px;
  background: #01667b;
}

.main-menu {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 12;
  display: none;
}
/* End: Navigation styles */

/* Start: Home page styles */
/* Start Parallax style */
#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#parallax::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #094b65, transparent);
  z-index: 5;
}

#parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: absolute;
  color: #0f1525;
  font-size: 8vw;
  text-align: center;
  line-height: 0.55em;
  transform: translateY(-50%);
}

#text span {
  font-size: 0.3em;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Rancho", cursive;
  transform: translateY(-50%);
  color: #0f1224;
}

#parallaxBtn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background-color: #fff;
  color: #0f1224;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 40px;
  transform: translateY(100px);
}

.sec {
  width: 100%;
  position: relative;
  padding: 50px;
  margin: 0 auto;
  background: linear-gradient(to bottom, #094b65, #000);
  color: #fff;
}

.sec h1 {
  font-size: 3.5em;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Rancho", cursive;
  letter-spacing: 2px;
}

.sec p {
  font-size: 1em;
}
/* End Parallax style */

/* Start: About the book style */
.my-book-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 0 50px;
  background-color: #eef0f0;
}

.main-post-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 20px 50px;
}

.main-post,
.my-book {
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  padding: 0 30px;
}

#sinopsis {
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
  width: 55%;
}

#actual-post,
#actual-post2 {
  padding: 0;
  width: 90%;
}

#go-back-up {
  color: #121b00;
  text-decoration: none;
  cursor: pointer;
}

.main-post #actual-post li {
  list-style: none;
  margin-left: 20px;
}

.main-post h3,
.my-book #sinopsis h3 {
  margin-top: 0;
  padding: 10px;
  text-align: center;
  color: #0f1224;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: underline;
}

.text-light {
  color: #121b00;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  padding-bottom: 20px;
}

.main-post img {
  display: block;
  width: 100%;
  margin: 15px auto;
  padding-bottom: 30px;
}

.main-post ul {
  margin-bottom: 20px;
}

.main-post li {
  color: #121b00;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.8;
}
/* End: About the book style */

/* Start: Aside style */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 70px;
  margin-bottom: 50px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 100%;
  padding: 7px;
}

.get-in-touch {
  border-radius: 5px;
  padding: 15px;
  background: #647c96;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 10px;
}

.get-in-touch h3 {
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.get-in-touch textarea {
  height: 150px;
  font-size: 14px;
}

.get-in-touch input {
  margin-bottom: 15px;
}

#icons-container {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 30px;
}

#icons-container i {
  color: #fff;
  margin-right: 20px;
}

#icons-container i:hover {
  color: #47596b;
}

.post-button {
  display: block;
  height: 40px;
  background: #47596b;
  border: 1px solid #fff;
  padding: 10px 60px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin: 30px auto;
  border-radius: 10px;
}

.news,
.news i {
  font-size: 22px;
  text-align: center;
  color: #121b00;
  margin-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.main-post #book-cover {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
}

.main-post #book-cover img {
  display: block;
  width: 100%;
}

.main-post #book-cover h1 {
  width: 100%;
  text-align: center;
}
/* End: Aside style */

/* Start: Excerpt from the book style */
#book-cover {
  align-items: center;
  justify-content: center;
}

#book-cover img {
  top: 0;
  left: 10px;
  height: auto;
  width: 100%;
}

#book-cover h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: right;
  justify-self: start;
  background-color: #647c96;
  padding: 5px 40px;
  margin-bottom: 5px;
  margin-top: 15px;
  width: 100%;
}

.btn {
  display: block;
  padding: 15px 60px;
  text-align: center;
  background-color: #647c96;
  color: #eee;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.primary-btn {
  background: #647c96;
}

/* End: Excerpt style */

/* Start: Footer styles*/
#footer-content {
  margin: 0;
}

footer {
  width: 100%;
  background-color: #000;
  padding-top: 30px;
}

.footer-container {
  display: flex;
  width: 40%;
  margin-left: 3%;
}

.footer-bottom {
  display: inline-grid;
  padding: 10px 0;
  justify-items: center;
  background-color: #647c96;
  width: 100%;
}

.footer-bottom small {
  width: 80%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

small a {
  color: #fff;
  text-decoration: none;
}

small a:hover {
  color: #eee;
}

small img {
  margin: 0 5px;
}

/* Start: Newsletter styles*/
#newsletter,
#newsletter-bg {
  padding: 20px 40px;
  margin: 0 auto;
}

#newsletter h1,
#newsletter-bg h1 {
  padding: 0 0 15px;
  font-size: 1.4rem;
  color: #f9ecf2;
  font-weight: 400;
  letter-spacing: 1px;
}

#newsletter p,
#newsletter-bg p {
  padding: 10px 0 0;
  font-size: 16px;
  color: #f9ecf2;
}

#newsletter form,
#newsletter-bg form {
  margin: 20px 0 40px 0;
  align-self: center;
}

#newsletter input,
#newsletter-bg input {
  padding: 5px 30px;
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

::placeholder {
  color: #000;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: start;
}

#subscribeBtn,
#subscribeBtnBg {
  display: inline-block;
  background: #647c96;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  padding: 10px 60px;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.btn:hover,
#subscribeBtn:hover,
#subscribeBtnBg:hover,
.post-button:hover,
.primary-btn:hover {
  opacity: 0.9;
  text-decoration: none;
  color: #eee;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}

#subscribeBtn:hover,
#subscribeBtnBg:hover,
.post-button:hover,
.primary-btn:hover {
  color: #fff;
  text-shadow: -3px 3px 10px #ffc, 3px -3px 10px #fff;
}
/* End: Newsletter styles*/
/* End: Footer styles */

/* Start: Map page style */
.hidden {
  display: none;
}

.map {
  width: 100%;
  padding: 10px;
  margin: 0;
  background: linear-gradient(to bottom, #bde1df, #234d4b, #173736, #000);
}

#world {
  display: grid;
  grid-template-columns: 2fr 0.7fr;
  padding: 10px;
  background: linear-gradient(to bottom, #bde1df, #234d4b, #173736, #000);
}

.map-wrapper {
  grid-column: 1;
  position: relative;
  margin: 0 auto;
  width: 70vw;
  height: 130vh;
  background: url(../images/map.jpg) no-repeat center center/cover;
  font-family: "Merienda", cursive;
}

.legend {
  width: 25vw;
  font-family: "Metamorphous", cursive;
  font-size: 22px;
  margin: 0 auto;
  padding: 4%;
  grid-column: 2;
  color: #291a0a;
  background: url(../images/oldmap.jpg) no-repeat center center/cover;
}

.legend ul {
  padding-left: 3%;
  list-style: none;
}

.legend li {
  padding: 5px 0;
  background-color: transparent;
  padding-bottom: 5px;
}

.legend li:hover {
  color: var(--dark-brown);
}

.legend li a {
  cursor: pointer;
}

.legend i {
  padding-right: 10px;
}

.legend div {
  font-size: 20px;
}

.legend h1 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 25px;
}

.map-title-en {
  display: block;
  margin: 2%;
  padding-left: 12%;
  font-family: "Metamorphous", cursive;
  font-size: 70px;
  font-weight: 900;
  color: var(--light-brown);
  -webkit-text-stroke: 1px var(--main-color);
  text-decoration: none;
  background-color: transparent;
}

.map-title-bg {
  display: block;
  margin: 2%;
  padding-left: 16%;
  font-family: "Metamorphous", cursive;
  font-size: 65px;
  font-weight: 900;
  color: var(--main-color);
  -webkit-text-stroke: 1px var(--light-brown);
  text-decoration: none;
  background-color: transparent;
}

.avatar-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 44%;
  left: 52%;
}

.avatar-block:hover {
  transform: scale(1.1);
}

.avatar1-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 35%;
  left: 30%;
}

.avatar1-block:hover {
  transform: scale(1.1);
}

.avatar2-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 22%;
  right: 35%;
}

.avatar2-block:hover {
  transform: scale(1.1);
}

.avatar3-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 60%;
  right: 20%;
}

.avatar3-block:hover {
  transform: scale(1.1);
}

.avatar4-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 10%;
  left: 5%;
}

.avatar4-block:hover {
  transform: scale(1.1);
}

.avatar5-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 38%;
  left: 42%;
}

.avatar5-block:hover {
  transform: scale(1.1);
}

.avatar6-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  top: 65%;
  left: 30%;
}

.avatar6-block:hover {
  transform: scale(1.1);
}

.avatar {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
}

.avatar-link {
  position: relative;
  display: block;
  color: var(--light-brown);
  background-color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  padding: 10px 18px;
  margin: 3px 0;
  border-radius: 70%;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--light-brown);
}

.avatar-link:hover {
  color: #d6c4a8;
}

#fairies,
#brutes,
#brotherhood,
#mountains,
#zmey,
#tarnovgrad,
#svetovid {
  display: block;
  font-size: 15px;
  text-align: justify;
  padding-right: 35px;
}
/* End: The World page styles */

/* Start: Blog page styles */
.blog-content {
  padding: 15px 0;
  background: #eee;
  color: var(--main-color);
  height: auto;
}

.blog-content-container {
  display: grid;
  width: 100%;
  margin-top: 30px;
  margin-left: 0;
  overflow: hidden;
  padding: 0 2rem;
}
/* End: Blog page styles */

/* Start: Profile page style */
#profile-header img {
  display: block;
  position: relative;
  width: 100%;
  height: 10%;
  margin: 0;
  border-bottom: 2px solid #647c96;
}

#profile-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #647c96, #eee);
  color: #121b00;
  overflow: hidden;
  padding: 5% 0;
  margin: 0;
}

.wrapper {
  border: 1px solid #47596b;
  padding: 20px;
  margin-bottom: 40px;
}

.wrapper h3 {
  margin-bottom: 10px;
}

#left-container {
  grid-column: 1;
  width: 100%;
  padding-top: 1%;
  padding-left: 2%;
  padding-bottom: 5%;
  margin: 0;
}

#right-container {
  grid-column: 2;
  margin-top: 5%;
  width: 70%;
}

#user-image-container {
  width: 100%;
  margin-top: 10%;
  margin-left: 50px;
}

#picture-container {
  position: absolute;
  width: 15%;
  margin-top: -19%;
}

#user-image {
  display: block;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #647c96;
}

#user-image:hover {
  border: 5px solid #bde1df;
}

#username-style {
  position: absolute;
  color: #000;
  font-size: 30px;
  margin-top: -4%;
}

#user-details h2,
#right-container h2 {
  margin: 30px 0;
  background-color: #f9ecf2;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
}

#user-details {
  width: 80%;
  margin-top: 20px;
  margin-left: 50px;
}

#header-upload-one {
  cursor: pointer;
  position: absolute;
  margin-top: -5%;
  margin-left: 90%;
  color: #ccc;
  z-index: 1000;
  background-color: #647c96;
  border-radius: 50%;
  border: 0.5px solid #eee;
  padding: 10px;
}

#header-upload-two {
  cursor: pointer;
  position: absolute;
  margin-top: -7%;
  margin-left: 10%;
  color: #ccc;
  z-index: 1000;
  background-color: #647c96;
  border-radius: 50%;
  border: 0.5px solid #eee;
  padding: 10px;
}

.fa-camera:hover {
  opacity: 0.9;
}

#user-details ul li {
  margin-top: 25px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  list-style: none;
  font-weight: bolder;
  font-size: 20px;
  border-bottom: 1px solid #647c96;
}

.new-pass-container {
  margin-top: 30px;
}

#new-pass-info-container p {
  margin: 10px 0;
}

#new-password,
#repeat-password {
  cursor: pointer;
  height: 40px;
  border: none;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  outline: none;
  padding-left: 10px;
  text-align: center;
}

#address,
#phone {
  cursor: pointer;
  height: 40px;
  border: none;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  outline: none;
  padding: 0;
  padding-left: 10px;
  text-align: center;
  margin-top: 10px;
}
/* End: Profile page style */

/* Start: Login & Register page styles */
#login-section {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #fff, #101228, #000);
}

#register-section {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #fff, #164e65, #000);
}

#login-container,
#login-container {
  grid-column: 1;
  width: 100%;
}

#login-image {
  grid-column: 2;
  width: 100%;
  height: 100%;
  margin: 0;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#register-image {
  grid-column: 2;
  width: 100%;
  height: 100%;
  margin: 0;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#login-container h1,
#register-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

#form-container {
  width: 100%;
  background: transparent;
  border: 10px solid #164e65;
  color: #0f1224;
  height: 70%;
  margin: 5%;
  padding: 4%;
  border-radius: 30px;
}

#loginForm-container {
  width: 100%;
  background: transparent;
  border: 10px solid #2c3273;
  color: #0f1224;
  height: 70%;
  margin: 5%;
  padding: 4%;
  border-radius: 30px;
}

#form-container p,
#loginForm-container p,
#form-container label,
#new-pass-container label,
#loginForm-container label {
  font-size: 1.1rem;
  margin: 25px 0;
  font-weight: 500;
}

#form-container form,
#loginForm-container form {
  margin: 0 auto;
}

#form-container .icon input,
#loginForm-container .icon input {
  height: 30px;
  border: none;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  outline: none;
  padding: 10px;
  text-align: center;
}

.loginBtn,
.registerBtn,
#submitNewPass,
#deleteAccount,
#editPhone,
#editAddress {
  display: block;
  cursor: pointer;
  background: #164e65;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  padding: 10px 30%;
  border-radius: 40px;
  border: 1px solid #fff;
  margin: 15px auto;
  letter-spacing: 1px;
}

.loginBtn {
  background: #2c3273;
}

.icon {
  position: relative;
}

.icon input {
  background: #eee;
}

.fa-user,
.fa-envelope-open-text,
.fa-lock,
.fa-unlock {
  position: absolute;
  top: 15%;
  border-right: 1px solid rgb(163, 162, 162);
  padding: 0 5px;
  height: fit-content;
}

.fa-eye,
.fa-eye-slash {
  position: absolute;
  top: 15%;
  right: 2%;
  padding: 0 5px;
  height: fit-content;
  border-right: none;
  cursor: pointer;
}

#register-form label {
  color: #fff;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.link {
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  margin: 20px;
  font-weight: 400;
  border-bottom: 1px solid #fff;
}

#register-info {
  color: #fff;
  text-align: justify;
  font-size: 14px;
}
/* End: Login & Register page style */

/* Start: media queries */
@media (max-width: 1280px) {
  .nav-style {
    height: 45px;
  }

  .my-book {
    padding: 0;
  }

  .my-book-container {
    width: 100%;
  }

  #parallaxSection {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #text {
    font-size: 7vw;
  }

  #parallaxBtn {
    font-size: 1.3rem;
    transform: translateY(65px);
  }

  .my-book-container #sinopsis h3 {
    font-size: 1.5rem;
  }

  #world {
    width: 100%;
    grid-template-areas:
      "map-wrapper"
      "legend";
  }

  .map-wrapper {
    grid-area: map-wrapper;
    grid-column: 1;
    margin: 0 auto;
    width: 98vw;
    height: 90vh;
    padding: 50px;
  }

  .legend {
    grid-area: legend;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .avatar {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
  }

  .avatar-link {
    font-size: 13px;
  }

  #right-container {
    width: 90%;
  }

  #login-container {
    width: 35vw;
    height: 100%;
    margin-top: 7%;
    margin-left: 2%;
  }

  #login-form h1 {
    text-align: center;
  }

  #login-image {
    width: 60vw;
    height: 95vh;
    clip-path: none;
  }

  #login-image img {
    width: 60vw;
    height: 100vh;
    position: absolute;
    top: 45px;
    right: 0;
  }

  #register-container {
    width: 32vw;
    margin-top: 2%;
    margin-left: 3%;
  }

  #register-image {
    position: relative;
    clip-path: none;
  }

  #register-image img {
    width: 60vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
  }

  #form-container {
    height: 93%;
    margin: 2%;
    padding: 4%;
    border-radius: 20px;
  }

  #form-container p,
  #loginForm-container p,
  #form-container label,
  #new-pass-container label,
  #loginForm-container label {
    font-size: 1rem;
    margin: 10px 0;
    font-weight: 400;
  }

  .link {
    margin: 0;
    margin-top: 2%;
    padding: 0;
  }

  #newsletter,
  #newsletter-bg {
    padding: 10px 60px;
    margin: 0;
  }

  .main-post h3 {
    font-size: 1.4rem;
  }

  #picture-container {
    margin-top: -20%;
  }

  #user-details ul li {
    margin-top: 30px;
    font-size: 19px;
  }

  #username-style {
    margin-top: -5%;
  }

  #header-upload-one {
    margin-top: -7%;
  }

  #header-upload-two {
    margin-top: -9%;
    margin-left: 10%;
  }
}

/* end: 1280px */

/* start: 1024px */
@media (max-width: 1024px) {
  .sec h1 {
    font-size: 2.3em;
  }

  #parallaxBtn {
    font-size: 1.2rem;
    transform: translateY(75px);
  }

  .nav-style {
    justify-content: space-evenly;
    height: 40px;
    width: 100%;
  }

  .nav-style a {
    padding: 40px;
  }

  .ul-style {
    flex-basis: 100%;
  }

  .my-book-container {
    width: 100%;
  }

  .get-in-touch,
  #book-cover {
    width: 110%;
    margin-right: 5%;
  }

  #sinopsis {
    width: 60%;
  }

  .avatar {
    width: 70px;
    height: 70px;
    border: 2px solid var(--main-color);
  }

  .avatar-link {
    font-size: 13px;
  }

  #races {
    font-size: 16px;
  }

  #newsletter h1,
  #newsletter-bg h1 {
    font-size: 20px;
  }

  .text-light {
    font-size: 12px;
  }

  #form-container {
    height: 92%;
    padding: 15px;
    margin-top: 1%;
  }

  #register-image img {
    width: 55vw;
  }

  #register-container {
    width: 38vw;
    height: 100%;
  }

  #login-image img {
    top: 40px;
  }

  .second {
    flex-direction: column;
  }

  .link {
    margin-top: 15px;
    margin-bottom: 2px;
  }

  .loginBtn,
  .registerBtn,
  #submitNewPass,
  #deleteAccount,
  #editPhone,
  #editAddress {
    font-size: 1rem;
    padding: 10px 30px;
    border-radius: 40px;
    border: 1px solid #fff;
    margin: 15px auto;
    letter-spacing: 1px;
  }

  #newsletter,
  #newsletter-bg {
    padding: 10px;
  }

  .main-post h3 {
    font-size: 1rem;
  }

  .main-post li {
    font-size: 18px;
    line-height: 1.4;
    margin: 10px 0;
  }
}
/* end: 1024px */

@media (min-width: 993px) and (max-width: 1024px) {
  .avatar {
    width: 60px;
    height: 60px;
    border: 2px solid var(--main-color);
  }

  .avatar-link {
    font-size: 11px;
  }

  #left-container {
    padding-top: 30px;
  }

  #right-container {
    padding-top: 24px;
  }
}

/* start: 992px */
@media (min-width: 769px) and (max-width: 992px) {
  .avatar {
    width: 50px;
    height: 50px;
    border: 2px solid var(--main-color);
  }

  .avatar-link {
    font-size: 10px;
  }
}
/* end 992px */

/*start 768px */
@media (max-width: 768px) {
  #desktop {
    display: none;
  }

  #mobile {
    display: block;
  }

  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav ul.main-menu {
    position: absolute;
    top: 20px;
    left: 0;
    background: linear-gradient(to bottom, #01667b, #016f82);
    width: 25vw;
    opacity: 0.9;
    padding: 20px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
    z-index: 7;
  }

  .main-nav ul.main-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  #register-section,
  #login-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #register-container,
  #login-container {
    grid-column: 1/2;
    grid-row: 1;
    margin: 0 auto;
    width: 50vw;
    padding: 0;
    margin-top: 20px;
  }

  #register-image,
  #login-image {
    display: none;
  }

  .avatar {
    width: 45px;
    height: 45px;
    border: 1px solid var(--main-color);
  }

  .avatar-link {
    font-size: 9px;
  }

  .my-book-container {
    width: 100%;
    padding: 0 30px;
  }

  aside#sidebar {
    width: 40%;
    padding-right: 2%;
  }

  #sinopsis {
    width: 45vw;
  }
}
/* end: 768px */

/* start: 500px */
@media (max-width: 500px) {
  .main-nav ul.main-menu {
    top: 20px;
    width: 50vw;
  }
}

@media (max-width: 375px) {
  .main-nav ul.main-menu {
    top: 20px;
    width: 50vw;
  }

  #secTitle {
    text-align: center;
    padding: 20px;
    margin: 0;
  }

  #parallaxBtn {
    width: 70vw;
    font-size: 1rem;
    transform: translateY(55px);
    text-align: center;
  }

  #text {
    position: absolute;
    color: #0f1525;
    font-size: 13vw;
    text-align: center;
    line-height: 0.65em;
    transform: translateY(-250%);
  }

  #text span {
    font-size: 0.6em;
    transform: translateY(-70%);
  }

  .sec {
    padding: 0;
  }

  .my-book {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }

  .my-book-container {
    width: 85vw;
  }

  #book-cover {
    margin-bottom: 30px;
  }

  #sinopsis {
    width: 100%;
  }

  aside#sidebar {
    width: 100%;
    margin: 0;
    padding-right: 15px;
  }

  #register-section {
    margin: 0;
    padding: 0;
    height: auto;
  }

  #register-container,
  #login-container {
    width: 80vw;
    height: 115vh;
    margin: 10px auto;
    padding: 0;
  }

  .footer-container {
    width: 85vw;
    margin: 0 auto;
  }

  .footer-bottom small {
    flex-direction: column;
  }

  .footer-bottom small img {
    display: none;
  }

  #map {
    display: none;
  }

  .main-post {
    margin: 0;
    padding: 0;
  }

  .main-post-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 0;
    margin: 0;
  }

  #actual-post,
  #actual-post2 {
    width: 90%;
  }

  #go-back-up {
    display: none;
  }

  #loginForm-container {
    margin: 10px 0;
    padding: 3%;
  }

  #register-container {
    width: 80vw;
    margin: 2% auto;
  }
}
